@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-sub: #2A2A2A;
  --color-primary: #FFD200;
  --color-text: #E0E0E0;
  --color-muted: #5C5C5C;
}

body {
  @apply bg-sub text-text-main antialiased font-sans;
  margin: 0;
  min-height: 100vh;
}
